<div class="container">
  <h1>Sign Up</h1>
  <%= render 'form' %>
  <div class="text-center mt-4">
    <%= link_to 'Cancel and Return to Articles List', articles_path, class: 'text-center' %>
  </div>
</div>